---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SITE, SOCIALS } from "@config";
import { Code } from "astro:components";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <div class="container">
        <img
          src="/hikimay_icon.png"
          alt="personal photo"
          class="image"
        />
        <div class="text">
          <h1>{SITE.author}</h1>
          <ul>
            <li>Reseacher</li>
            <li>Artificial Intelligence Laboratory</li>
            <li>Fujitsu Limited, Japan</li>
            <br>
            <li>Email: hikima.yasunari[~at~]fujitsu.com</li>
          </ul>
        </div>
      </div>
    </section>
    <Hr />
    <section id="featured">
      <div class="container">
        <div class="text">
          <h2>News</h2>
          <ul class="myul">
            <li>
              <strong>August 28—30, 2025.</strong>
              Poster presentation at the <a href="https://www.ism.ac.jp/~mirai/sscoke/2025/">SSCOKE</a> held at The Institute of Statistical Mathematics (<a href="https://www.ism.ac.jp/">ISM</a>), Tokyo, Japan.
            </li>
            
            <li>
              <strong>August 16—23, 2025.</strong>
              Oral presentation and poster presentation at the <a href="https://2025.ijcai.org/">IJCAI</a> Conference, Montreal, Canada.
              My oral presentation is assined in [ML: Machine Learning 6/8] and will be held on 20th August at 14:00.
            </li>

            <li>
              <strong>May 3—5, 2025.</strong>
              Attending and presenting one poster at the <a href="https://aistats.org/aistats2025/">AISTATS</a> Conference, Phuket, Thailand.
              Our poster presentation is assigned in Poster Session 3 held from 13:00 to 16:00.
            </li>

            <li>
              <strong>April 29, 2025.</strong>
              One paper accepted at <a href="https://2025.ijcai.org/">IJCAI 2025</a>. See you in Montreal, Canada.
            </li>

            <li>
              <strong>March 17—26, 2025.</strong>
              I am visiting Stockholm, Sweden and Kjøbmandehavn, Denmark.
            </li>

            <li>
              <strong>March 4, 2025.</strong>
              One paper accepted at Transactions on Machine Learning Research (<a href="https://jmlr.org/tmlr/">TMLR</a>).
            </li>
            
            <li>
              <strong>January 21, 2025.</strong>
              One paper accepted at <a href="https://aistats.org/aistats2025/">AISTATS 2025</a>.
              See you in Phuket, Thailand.
            </li>

            <li>
              <strong>November 4—7, 2024.</strong>
              Atteinding the <a href="https://ibisml.org/ibis2024/">IBIS</a> Conference, Saitama, Japan.
            </li>

            <li>
              <strong>October 2 — November 3, 2024.</strong>
              I am visiting Perth, Australia.
            </li>

            <li>
              <strong>July 15—19, 2024.</strong>
              Atteinding and presenting one poster at the <a href="https://www.auai.org/uai2024/">UAI</a> Conference, Barcelona, Spain.
            </li>

            <li>
              <strong>April 26, 2024.</strong>
              One paper accepted at <a href="https://www.auai.org/uai2024/">UAI 2024</a>.
            </li>

            <li>
              <strong>February 25—28, 2024.</strong>
              I am visiting <a href="https://www.fujitsu.com/us/about/businesspolicy/tech/rd/">Fujitsu Reseach of America, Inc.</a> located in Santa Clara, California, USA.
            </li>

            <li>
              <strong>February 25—28, 2024.</strong>
              I am in UC San Diego, California, USA, attending the <a href="https://algorithmiclearningtheory.org/alt2024/">ALT</a> Conference.
            </li>
          </ul>
        </div>
      </div>
      <br>
      <div class="text" style="text-align: right">
        <!-- $ LC_TIME=C date -u -->
        Last updated: Thu Aug 14 15:43:12 JST 2025
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-4;
  }
  #hero h1 {
    /* @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl; */
    @apply my-4 inline-block text-3xl font-bold sm:my-4 sm:text-3xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== ul ===== */
  /* ul {
    list-style-type: disc;
  } */

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-3 text-center;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .image {
    /* width: 10%;
    max-width: 100px;
    border-radius: 50%; */
    flex-basis: 30%;
    width: 20%;
    height: auto;
  }

  .text {
    flex-basis: 100%;
    font-size: 1.0rem;
    width: 100%;
    /* font-size: 14px; */
  }

  .myul {
    list-style-type: disc;
    margin-top: 10px;
    padding-inline-start: 40px;
    list-style-position: inside;
    text-indent: -2em;
  }

  a {
    color: #4682b4;
    text-decoration: none;
  }

</style>